/*Палитра цветов страницы
Цвет заголовков: #212121;
Цвет основного текста: #757575
Цвет подписей: #FFFFFF
Цвет анимаций: #2196F3
Цвета лого: #000000 #2196F3
Цвет полотен: #2F303A */ 
/*Переменные */
:root{
    --heaer-color: #212121;
    --text-color: #757575;
    --main-header-color: #FFFFFF;
    --animation-color: #2196F3;
    --bg-color: #F5F4FA;
    --headline-and-footer-bg-color: #2F303A;
}

/* Общие стили */
body{
font-family: Roboto, sans-serif;
font-weight: 400;
color: var(--text-color);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* Стили отдельных элементов */
/*Стили лого*/
.logo{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;  
        letter-spacing: 0.03em;
}
.logo-beginning{
    color: #2196F3;
}
.logo-ending{
    color:#000000;
}
.h1-type{
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        color: var(--main-header-color);
        text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
}
.header{
    color: var(--heaer-color);
}
.h2-type{
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
}
.h3-type-studio{
    font-weight: 500;
        font-size: 16px;
        line-height: 19px; 
        line-height: 19px;        
            text-align: center;
            letter-spacing: 0.03em;
}
.h3-type-portfolio{
    font-weight: 700;
        font-size: 18px;
        line-height: 36px;    
        letter-spacing: 0.06em;
}
.h1-bg{
    background-color: var(--headline-and-footer-bg-color);
}